/**
*  @techies23 dpen
*  @since  1.0.0
*/

.zvc_listing_table {
    margin-top: 20px;
}

.select_zvc_user_listings_wrapp {
    margin: 20px 0px;
}

.zvc-text-left {
    text-align: left;
}

.zvc-text-center {
    text-align: center;
}

#zvc-cover {
    background: url("../images/ajax-loader.gif") no-repeat scroll center center #f1f1f1;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    opacity: 0.5;
}

.zvc_getting_user_info_content p {
    padding: 0px !important;
}

.zvc-information-sec li {
    padding-left: 14px;
}

.zvc_daily_reports_check_form {
    padding: 20px 0px;
}

.zvc_accounts_reports_check_form {
    padding-bottom: 20px;
}
